  * {
            box-sizing: border-box;
        }

    body{
             font-family: 'Roboto', sans-serif;
            margin: 0;
            background-color: white;
            clear: both;
        }

   
/*******Menu header*********/
    .header {
      overflow: hidden;
    background-color: #0652DD;
      padding: 10px 10px;
  }

    .header-right {
      float: right;
    }

    .header a {
      float: left;
      color:#ecf0f1;
      text-align: center;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      line-height: 25px;
      border-radius: 4px;
    }

    .header a.logo {
      font-size: 25px;
      font-weight: bold;
    }

    .header  {
      
      color:white;

    }


    .header-right {
      float: right;
    }

    @media screen and (max-width: 500px) {
      .header a {
        float: none;
        display: block;
        text-align: left;
      }

      .header-right {
        float: none;
      }
    }
 a.nav-menu {
   color: white;
  }

  /***** Form seartch *******/
  .pesquisa-container {
  width: 45%;
  float: right;
}

.pesquisa-container {
  float: right;
  padding: 6px ;
 
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.pesquisa {
  width: 100%;
  position: relative;
  display: flex;
}

.form-pesquisa {
  width: 40px;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 0 5px 5px 0;
  outline: none;
  
}



.btn-pesquisa {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color:black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


  /***** menu hamburguer  *******/
   .btn {
       background-color: #0652DD;
        border: none;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
        }
.btn:hover{color: #0abde3;}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

        
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 50%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
   display: block;
 }

.column {
  font-family: 'Roboto', sans-serif;
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color:#227093;
   height: 300px;
}

.column a {
  float: none;
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 }

 .row:after {
  content: "";
    display: table;
   clear: both;
        }

 @media screen and (max-width: 600px) {
   .column {
    width: 100%;
    height: auto;
  }
}
/***** Carousel ******/
/***** banner ******/
.container-banner{
  clear: both;
  display: table;
}

.banner{
  margin-top: 10px;
  float: left;
  padding: 0 6px;
  width: 40%;
}

.hover-banner  {
  opacity: 1.0;
}

.hover-banner:hover {
  
  transition: 300ms;
  opacity: 0.5;
}
@media screen and (max-width: 500px) {
  .banner {
    width: 100%;
  }
}


@media only screen and (max-width: 500px) {
  .container-banner {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .container-banner{
    width: 50%;
    margin: 6px 0;
  }
}

/***** thumbnail ******/

.produto-img{
 
  border: 1px solid #ccc;
}

.produto-img:hover {
  border: 1px solid #777;
}
.produto-img img {
   width: 100%;
  height: 80%;
}

.nome-prod{
   
   padding: 10px;
  text-align: center;
  clear: both;
}



.thumbnail-prod {
  padding: 0 6px;
  float: left;
  width: 25%;
}

@media only screen and (max-width: 700px) {
  .thumbnail-prod {
    width: 50%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .thumbnail-prod {
    width: 100%;
  }
}


.btn-compra {
  display: block;
  width: 80%;
  border:2px solid #0652DD;
  border-radius: 5px;
  background-color: #0652DD;
  color: white;
  padding: 10px ;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-left: 15px;
 
}
/*** modal***/
.modal-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
}
.modal {
  min-width: 50px;
  max-width: 70%;
  margin: 0 auto;
  height: 40px;
}

.modal img {
  width: 60%;
  height:  0 auto;
  margin-top: 20px;
}
/***** form contato******/
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid#dfe6e9;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #227093;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.container-form {
  border-radius: 5px;
  background-color: #b2bec3;
  padding: 20px;
}
/***** lightbox produto ******/




/***** Footer******/
.footer {
   position: relative;
   bottom: 0;
   height: 80px;
   width: 100%;
   background-color: #0652DD;
   clear: both;
  
   
}


#container-logo{
  margin-top: 20px;
 width: 100%;
background-color: #05245c;
  
   
  
}

